.container_home{
    display: flex ;
    flex-direction: row;
    width: 90%;
    margin: auto;
    /* align-items: center; */
    justify-content: space-between;
    
    height: 600px;
}
.profile_div{

width: 25%;
border: 1px solid rgb(245, 245, 245);
height: 500px;
}
.todo{
    width: 25%; 
    border: 1px solid rgb(90, 90, 211);
}
.todo_progress{
    width: 25%; 
    border: 1px solid yellow;
}
.todo_done{
    width: 25%; 
    border: 1px solid gray;
}
.count_number{
    border: 1px solid black;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.count_all{
    border: 1px solid green;
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(151, 202, 151);
}
.count_personal{
    border: 1px solid rgb(212, 118, 208);
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(157, 120, 199);
}
.count_official{
    border: 1px solid rgb(118, 132, 212);
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(65, 58, 155);
}
.count_other{
    border: 1px solid rgb(47, 83, 30);
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(58, 155, 71);
}
.logout_button{
    height: 50px;
    background-color: teal;
    font-size: 20px;
    color: white;
}